<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="/style/screen.css" rel="stylesheet"/>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the HOME_PAGE </h1>
  </body>
</html>
