<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link href="/style/screen.css" rel="stylesheet"/>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the profile of <%= person %> </h1>
    <p>Age: <strong><%= data.Age %></strong></p>
    <p>Job: <strong><%= data.Job %></strong></p>
    <p>Skills:
      <ul>
        <% data.skills.forEach(function(item){ %>
          <li><%= item %></li>
        <% }); %>
      </ul>
    </p>
  </body>
</html>
